* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Dosis";
  font-display: swap;
  src: url("../fonts/Dosis-Regular.woff") format("woff"), url("../fonts/Dosis-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  font-display: swap;
  src: url("../fonts/Dosis-Light.woff") format("woff"), url("../fonts/Dosis-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.call__text {
  font-family: 'Dosis';
  font-weight: 300;
}

.services__item-text {
  font-family: 'Dosis';
  font-weight: 400;
}

.call__btn,
.team__btn {
  font-family: 'Roboto';
  font-weight: 500;
}

.title,
.testimonials__feedback,
.footer__to-top-link {
  font-family: 'RobotoCondensed';
  font-weight: 400;
}

.services__item-title,
.services__item-link,
.projects__item-link,
.testimonials__feedback span,
.testimonials__customer,
.footer__section-title {
  font-family: 'RobotoCondensed';
  font-weight: 700;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

button {
  cursor: pointer;
}

a {
  display: block;
}

.title {
  position: relative;
  font-size: 24px;
  padding-bottom: 28px;
}

.title::after {
  content: '';
  width: 100px;
  height: 8px;
  background-color: #2B4074;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  padding: 0 20px;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  background-color: #2B4074;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  display: block;
  margin-left: 8px;
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}

.menu__btn::after {
  content: '';
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2B4074;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
          box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

.no-webp .intro {
  background-image: url("../img/intro/bg-slider.jpg"); }

.intro {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
}

.top-slider__item {
  text-align: center;
  color: #fff;
  min-height: 193px;
}

.top-slider__title {
  font-family: 'RobotoCondensed';
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  position: relative;
}

.top-slider__title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 61px;
  margin: 0 auto;
  background-color: #4A4A4A;
}

.top-slider__text {
  display: none;
}

.top-slider__btn {
  display: none;
}

.top-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2B4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;
}

.call {
  background-color: #2B4074;
  padding: 40px 0;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.call__title {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  line-height: 24px;
}

.call__text {
  margin: 0px 0px 40px 0px;
  font-size: 16px;
}

.call__btn {
  padding: 16px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #F9F6E5;
  font-size: 18px;
  line-height: 18px;
  color: #2B4074;
}

.call__btn:hover {
  background-color: #bdbaab;
}

.services {
  padding: 25px 0 40px;
  text-align: center;
}

.services__title {
  line-height: 28px;
  margin-bottom: 47px;
  color: #2B4074;
}

.services__desc {
  font-size: 20px;
  line-height: 24px;
  color: #4A4A4A;
  margin-bottom: 21px;
}

.services__text {
  color: #797979;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 40px;
}

.services__item {
  height: 310px;
  border: 1px solid #F9F6E5;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item:last-child {
  border-bottom: 1px solid #F9F6E5;
}

.services__item:hover .services__item-text,
.services__item:hover .services__item-link,
.services__item:focus .services__item-text,
.services__item:focus .services__item-link,
.services__item:active .services__item-text,
.services__item:active .services__item-link {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.services__item:hover .services__item-title,
.services__item:focus .services__item-title,
.services__item:active .services__item-title {
  margin-bottom: 21px;
}

.services__item:hover .services__item-inner,
.services__item:focus .services__item-inner,
.services__item:active .services__item-inner {
  border: 4px solid #2B4074;
  margin: 18px;
  padding: 25px 20px 5px;
  min-height: 277px;
}

.services__item-img {
  margin-bottom: 30px;
}

.services__item-title {
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.services__item-text,
.services__item-link {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.services__item-text {
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
  margin-bottom: 17px;
}

.services__item-link {
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2B4074;
}

.projects {
  padding: 20px 0px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2B4074), to(rgba(43, 64, 116, 0)));
  background: -o-linear-gradient(top, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.projects__title {
  color: #fff;
  margin-bottom: 40px;
  padding-bottom: 28px;
}

.projects__title::after {
  width: 50px;
  background-color: #fff;
}

.projects__item {
  margin: 0px 0px 20px 0px;
}

.projects__item:last-child {
  margin: 0;
}

.projects__item:hover,
.projects__item:focus .projects__item-inner {
  opacity: 1;
}

.projects__item-wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 250px;
  max-width: 518px;
  background-color: rgba(71, 110, 77, 0.351506);
  border-radius: 4px;
}

.projects__item-img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  border-radius: 4px;
}

.projects__item-inner {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.projects__item-info {
  margin-right: 15px;
}

.projects__item-info img {
  min-width: 29px;
  min-height: 29px;
}

.projects__item-search img {
  margin-top: 4px;
  min-width: 29px;
  min-height: 29px;
}

.projects__item-link {
  display: block;
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
}

.team {
  padding: 20px 0px 40px;
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  background-color: #B0BCC0;
  min-width: 277px;
  min-height: 244px;
  margin: 0 auto 43px;
}

.team__content {
  text-align: center;
}

.team__title {
  margin-bottom: 23px;
}

.team__title::after {
  width: 45px;
}

.team__text {
  margin-bottom: 84px;
  line-height: 18px;
  color: #9B9B9B;
}

.team__btn {
  padding: 21px 26px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #2B4074;
  font-size: 20px;
  line-height: 18px;
  color: #F9F6E5;
}

.team__btn:hover {
  background-color: #1e2d52;
}

.news {
  padding: 30px 0;
  background-color: #F9F6E5;
}

.news__inner {
  text-align: center;
}

.news__title {
  margin-bottom: 40px;
}

.news__title::after {
  width: 50px;
}

.news__content {
  margin: 0 auto;
}

.news__item {
  position: relative;
  width: 270px;
  margin: 0 auto 20px;
  background-color: #2B4074;
  border-radius: 10px;
}

.news__item:hover .news__item-inner {
  opacity: 1;
}

.news__item:hover .news__item-title {
  padding-left: 10px;
  text-align: left;
  background-color: #2B4074;
  color: #F9F6E5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.news__item-inner {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: 10px solid #2B4074;
  border-radius: 4px;
  background-color: #2b40744d;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.news__item-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: left;
  width: 100%;
  padding: 7px 0px 11px 20px;
  color: #F9F6E5;
  background-color: #2B4074;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
}

.news__item-info {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}

.news__item-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.news__item-title {
  padding: 7px 0px 10px 0px;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #4A4A4A;
}

.testimonials {
  padding: 52px 0 85px;
}

.testimonials__content {
  color: #4A4A4A;
  text-align: center;
  letter-spacing: 2px;
}

.testimonials__icon {
  margin: 0px 0px 90px 0px;
  font-size: 34px;
  color: #2B4074;
}

.testimonials__feedback {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  line-height: 26px;
}

.testimonials__feedback span {
  color: #2B4074;
}

.testimonials__customer {
  margin-bottom: 49px;
  font-size: 20px;
}

.testimonials__content .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.testimonials__content .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #2B4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

.testimonials__content .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;
}

.footer {
  position: relative;
  padding: 104px 0px 205px;
  background-color: #2B4074;
}

.footer a {
  color: #fff;
}

.footer__inner {
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-wrapper {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 230px;
  height: 60px;
  border-radius: 3px;
  background-color: #2B4074;
}

.footer__logo {
  margin: 0 auto;
  width: 83px;
  height: 55px;
}

.footer__logo-img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__text {
  margin: 0px 0px 43px 0px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
}

.footer__social {
  margin: 0px 0px 40px 0px;
}

.footer__social-link {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
}

.footer__social-link:last-child {
  margin: 0;
}

.footer__section-title {
  font-size: 18px;
  letter-spacing: 2px;
  color: #F9F6E5;
}

.footer__contacts {
  margin: 0px 0px 41px 0px;
}

.footer__contacts-title {
  margin: 0px 0px 14px 0px;
}

.footer__address {
  margin: 0px 0px 36px 0px;
}

.footer__address-title {
  margin: 0px 0px 14px 0px;
}

.footer__help {
  margin: 0px 0px 53px 0px;
}

.footer__help-title {
  margin: 0px 0px 25px 0px;
}

.footer__help-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__menu-title {
  margin: 0px 0px 25px 0px;
}

.footer__to-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 56px 0 30px;
  background-color: #F9F6E5;
}

.footer__to-top-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  letter-spacing: 2px;
  color: #4A4A4A !important;
}

.footer__to-top-arrow {
  margin: 20px 0px 0px 0px;
  width: 14px;
  height: 14px;
  border-top: 2px solid #2B4074;
  border-right: 2px solid #2B4074;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }

  .container {
    padding: 0 30px;
  }

  .header__inner {
    min-height: 100px;
  }

  .logo__link {
    margin-left: 14px;
  }

  .intro {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .top-slider__item {
    min-height: 386px;
  }

  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
  }

  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    font-size: 18px;
    background-color: #2B4074;
    color: #F9F6E5;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
  }

  .top-slider .slick-dots {
    bottom: 50px;
  }

  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }

  .top-slider .slick-prev {
    background-color: #2B4074;
    top: calc(50% - 56px);
  }

  .top-slider .slick-next {
    background-color: #F9F6E5;
    bottom: calc(50% - 56px);
  }

  .services {
    padding: 24px 0 0;
  }

  .services__title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  .services__title::after {
    display: none;
  }

  .services__desc {
    font-size: 24px;
    padding-bottom: 38px;
    margin-bottom: 30px;
    position: relative;
  }

  .services__desc::after {
    content: '';
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .services__text {
    font-size: 18px;
    line-height: 24px;
  }

  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px;
  }

  .services__item {
    width: 50%;
  }

  .services__item:nth-child(even) {
    border-left: none;
  }

  .services__item:last-child {
    border-bottom: none;
  }

  .projects {
    padding: 40px 0;
  }

  .projects__title {
    font-size: 48px;
    line-height: 56px;
  }

  .projects__title::after {
    width: 100px;
  }

  .projects__item-wrapper {
    min-height: auto;
  }

  .projects__item-info {
    margin-right: 30px;
  }

  .projects__item-info img {
    width: 54px;
    height: 53px;
  }

  .projects__item-search img {
    width: 54px;
    height: 53px;
  }

  .projects__item-link {
    font-size: 20px;
    line-height: 23px;
  }

  .team {
    padding: 43px 0 53px;
  }

  .team__img {
    width: 520px;
    margin-bottom: 46px;
  }

  .team__title::after {
    width: 89px;
  }

  .team__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .team__text {
    margin: 0 auto 56px;
    max-width: 518px;
  }

  .news__title::after {
    width: 100px;
  }

  .testimonials {
    padding-bottom: 61px;
  }

  .testimonials__icon {
    margin: 0px 0px 40px 0px;
  }

  .testimonials__feedback {
    margin: 0px 0px 40px 0px;
    font-size: 32px;
    line-height: 34px;
  }

  .footer {
    padding: 95px 0 172px;
  }

  .footer__inner {
    text-align: left;
  }

  .footer__text {
    margin: 0px 0px 40px 0px;
    font-size: 24px;
    line-height: 26px;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-right: none;
    border-left: none;
  }

  .footer__social-link {
    padding: 20px 63px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    font-size: 17px;
    border: 1px solid #7EBF84;
    border-left: none;
  }

  .footer__social-link:last-child {
    border-right: none;
  }

  .footer__info {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 135px;
    text-align: left;
  }

  .footer__to-top {
    padding: 7px 0 11px;
  }

  .footer__to-top-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0px 15px 0px 0px;
  }

  .footer__to-top-arrow {
    margin: 4px 0px 0px 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }

  .logo__link {
    margin-left: 0px;
  }

  .top-slider__item {
    min-height: 465px;
  }

  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto;
  }

  .top-slider__title::after {
    display: none;
  }

  .top-slider__text {
    display: block;
    padding: 25px 0 32px;
    font-family: 'RobotoCondensed';
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    max-width: 587px;
    margin: 0 auto;
  }

  .call {
    text-align: left;
  }

  .call__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .call__box {
    max-width: 427px;
  }

  .call__text {
    margin: 0;
  }

  .services {
    padding: 50px 0 0;
  }

  .services__title {
    margin-bottom: 30px;
  }

  .services__desc {
    text-align: left;
  }

  .services__desc::after {
    margin-left: 0;
  }

  .services__text {
    margin-bottom: 27px;
    text-align: left;
  }

  .services__items {
    margin: 0 -40px;
  }

  .services__item {
    min-height: 334px;
  }

  .services__item:hover .services__item-inner,
  .services__item:focus .services__item-inner,
  .services__item:active .services__item-inner {
    padding: 35px 66px 5px;
    min-height: 288px;
  }

  .projects {
    padding: 80px 0;
  }

  .projects__title {
    margin-bottom: 80px;
  }

  .projects__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .projects__item {
    margin: 0px 0px 30px 0px;
  }

  .projects__item:nth-child(3) {
    margin: 0;
  }

  .projects__item-wrapper {
    margin: 0 12px;
    max-width: 317px;
  }

  .projects__item-info {
    margin-right: 15px;
  }

  .projects__item-info img {
    width: 29px;
    height: 29px;
  }

  .projects__item-search img {
    width: 29px;
    height: 29px;
  }

  .team {
    padding: 40px 0 48px;
  }

  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team__img {
    width: 240px;
    margin-bottom: 0;
    margin-right: 34px;
  }

  .team__content {
    text-align: left;
  }

  .team__title::after {
    margin-left: 0;
  }

  .team__title {
    margin-bottom: 7px;
  }

  .team__text {
    margin-bottom: 20px;
    max-width: 407px;
    font-size: 18px;
  }

  .footer {
    padding: 114px 0 98px;
  }

  .footer__text {
    min-width: 690px;
    font-size: 36px;
    line-height: 32px;
  }

  .footer__social {
    margin: 0px 0px 69px 0px;
  }

  .footer__social-link {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .top-slider__item {
    min-height: 623px;
  }

  .top-slider__title {
    padding: 101px 0 0 0;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
  }

  .top-slider .slick-dots {
    bottom: 80px;
  }

  .call__box {
    max-width: 695px;
  }

  .services {
    padding: 52px 0 0;
  }

  .services__title {
    margin-bottom: 61px;
  }

  .services__desc {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }

  .services__text {
    margin-bottom: 32px;
    max-width: 608px;
  }

  .services__item {
    width: 25%;
  }

  .services__item:nth-child(2),
  .services__item:nth-child(6) {
    border-right: none;
  }

  .services__item:hover .services__item-inner,
  .services__item:focus .services__item-inner,
  .services__item:active .services__item-inner {
    padding: 25px 9px;
  }

  .services__item-inner {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .team {
    padding: 80px 0;
  }

  .team__img {
    width: 395px;
    margin-right: 60px;
  }

  .team__title {
    font-size: 48px;
    line-height: 56px;
    margin: 0px 0px 19px 0px;
  }

  .team__text {
    margin-bottom: 25px;
    max-width: 523px;
    line-height: 22px;
  }

  .testimonials {
    padding: 92px 0 101px;
  }

  .testimonials__feedback {
    margin: 0px 0px 45px 0px;
  }

  .testimonials__customer {
    margin-bottom: 89px;
  }

  .footer__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__text {
    width: 751px;
  }

  .footer__info {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
  }
}

@media (min-width: 1100px) {
  .projects__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }

  .menu__btn {
    margin-right: 90px;
  }

  .top-slider__item {
    min-height: 668px;
  }

  .top-slider__title {
    padding: 107px 0px 0px 0px;
    font-size: 96px;
    line-height: 96px;
  }

  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }

  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }

  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }

  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }

  .call__inner {
    padding: 0 80px;
  }

  .call__box {
    max-width: 796px;
  }

  .services {
    padding: 0;
  }

  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -100px 0 -50px;
  }

  .services__head {
    min-width: 350px;
    margin-right: 100px;
  }

  .services__title {
    margin: 90px 0 70px;
    text-align: left;
  }

  .services__desc {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }

  .services__items {
    margin: 0;
  }

  .services__item {
    width: 230px;
    height: 273px;
  }

  .services__item:hover .services__item-inner,
  .services__item:focus .services__item-inner,
  .services__item:active .services__item-inner {
    min-height: 255px;
    padding: 20px 8px;
  }

  .projects__item {
    margin: 0;
  }

  .projects__item-wrapper {
    max-width: 268px;
  }

  .team__img {
    width: 460px;
    margin-right: 100px;
  }

  .team__title {
    margin: 0px 0px 39px 0px;
  }

  .team__text {
    margin-bottom: 90px;
    max-width: 584px;
    line-height: 25px;
  }

  .testimonials__feedback {
    margin: 0px 0px 30px 0px;
    font-size: 36px;
    line-height: 42px;
  }

  .footer__text {
    font-size: 24px;
  }

  .footer__to-top-link {
    margin: 0px 147px 0px 0px;
  }
}

.intro { background-image: url(../img/intro/bg-slider.webp); }